<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.ArticleDao">

    <update id="addArticle" parameterType="com.alibaba.fastjson.JSONObject">
        update shop_order
          set logistics_no=#{logisticsNo},logistics_type=#{logisticsType},state=3
          where order_id=#{orderId}
    </update>

    <select id="countArticle" resultType="Integer">
        SELECT count(0)
        FROM article w
        WHERE w.delete_status = '1'
    </select>

    <select id="listArticle" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            w.id                                      id,
            w.name                                    name,
            w.levelType                               levelType,
            w.parentId                                parentId
        FROM area w
    </select>

    <update id="updateArticle" parameterType="com.alibaba.fastjson.JSONObject">
        UPDATE shop_order_address
        SET
            name = #{name},province = #{province},city = #{city},country = #{country},detail = #{detail},
            telephone = #{telephone}
        WHERE id = #{addressId}
    </update>
    <select id="listWuLiu" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            w.id                                      id,
            w.name                                    label,
            w.type                                    value
        FROM logistics w
    </select>
</mapper>