<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.GoodsDao">

    <insert id="addGoods" parameterType="com.alibaba.fastjson.JSONObject">
        INSERT INTO goods
            (goods_name,price,sku_store,banner_url,detail_url,
            multi_index,class_id1,class_id2,class_id3,app_id
            )
        VALUES
            (#{goodsName},#{price},#{skuStore},#{bannerUrl},#{detailUrl},
            #{multiIndex},#{classId1},#{classId2},#{classId3},#{appId}
            )
    </insert>
    <select id="getAllGoodsByState" resultType="com.alibaba.fastjson.JSONObject">
    	select goods_name goodsName,id goodsId,banner_url bannerUrl,price,sku_store skuStore
    	from goods where state=#{state} and app_id=#{appId} 
    	<if test="classId!='' and classId !=null">
    		and class_id3=#{classId}
    	</if>
    	<if test="goodsName!='' and goodsName !=null">
    		and goods_name like concat("%",#{goodsName},"%")
    	</if>
    	<if test="type==''">
    		order by create_time desc
    	</if>
    	<if test="type=='price'">
    		<if test="priceFlag=='true'">
    		order by price desc
    		</if>
    		<if test="priceFlag=='false'">
    		order by price asc
    		</if>
    	</if>
    	<if test="type=='count'">
    		order by count desc
    	</if>
    	limit #{pageNo},#{pageSize}
    </select>
    <update id="updateGoodsByIds">    
        update goods   set     
            state=#{state} 
        where id in     
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
         #{item}   
        </foreach>
	</update>  
	<select id="getGoodsById" resultType="com.alibaba.fastjson.JSONObject">
    	select goods_name goodsName,id goodsId,banner_url bannerUrl,price,sku_store skuStore,
    	detail_url detailUrl,multi_index multiIndex ,store_id storeId,state
    	from goods where id=#{appId} 
    </select>
    <update id="updateGoodsStoreSku"  parameterType="java.util.List">
        <foreach collection="list" item="item"  separator=";">
        update goods
        <set>
            sku_store=sku_store-#{item.count}
        </set>
        where id=#{item.goodsId} and sku_store-#{item.count} >0
    </foreach>      
</update>
    <update id="updateGoodStoreCount" >
    		update goods set sku_store=sku_store-#{count} where id=#{goodsId} and sku_store=sku_store-#{count} &gt;=0
    </update>
    <update id="updateCountById" >
    		update goods set count=count+#{count} where id=#{goodsId} 
    </update>
    <update id="addSkuCount" >
    		update goods set sku_store=sku_store+#{count} where id=#{goodsId} 
    </update>
    <select id="countGoods" resultType="Integer">
        SELECT count(0)
        FROM goods 
        <where>
        <if test="appId!=null and appId !=''">
        	app_id=#{appId}
        </if>
        </where>
    </select>
    <select id="listGoods" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            w.id            id,
            w.goods_name    goodsName,
            w.price         price,
            w.sku_store     skuStore,
            w.banner_url    bannerUrl,
            w.detail_url    detailUrl,
            w.multi_index   multiIndex,
            w.class_id1     classId1,
            w.class_id2     classId2,
            w.class_id3     classId3,
            w.state         state,
            w.create_time   createTime,
            s.store_name    storeName
        FROM goods w INNER JOIN store s on w.store_id =s.id
        <where>
        	 <if test="appId !=null and appId !=''">
        	 	w.app_id=#{appId}	
        	 </if>
    
        </where>
        ORDER BY w.create_time desc
        LIMIT #{offSet}, #{pageRow}
    </select>
    <select id="listIndexGoods" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            w.id            id,
            w.goods_name    goodsName,
            w.price         price,
            w.sku_store     skuStore,
            w.banner_url    bannerUrl,
            w.detail_url    detailUrl,
            w.multi_index   multiIndex,
            w.class_id1     classId1,
            w.class_id2     classId2,
            w.class_id3     classId3,
            w.state         state,
            w.create_time   createTime,
            s.store_name    storeName
        FROM goods w INNER JOIN store s on w.store_id =s.id
        where 1=1
        	 <if test="appId !=null and appId !=''">
        	 	and w.app_id=#{appId}	
        	 </if>
        	 <if test="classId !=null and classId !=''">
        	 	and w.class_id1=#{classId}	
        	 </if>
    
     
        ORDER BY w.count desc
        LIMIT #{pageNo}, #{pageSize}
    </select>
</mapper>