<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.IndexConfigDao">
	<select id="listIndexConfigBanner" resultType="com.alibaba.fastjson.JSONObject">
		select id ,type ,img_url imgUrl FROM index_config WHERE type=#{type} and app_id=#{appId}
	</select>
	<select id="listIndexConfigClasses" resultType="com.alibaba.fastjson.JSONObject">
		select c.id,g.class_name className,c.goods_class_id from index_config c INNER JOIN 
		 goods_class g on c.goods_class_id=g.id and g.class_level=1
	</select>
	
	<resultMap id="orderMap"
			   type="com.heeexy.example.entity.ClassesInfo">
		<id column="classId" property="classId" />
		<result column="name" property="name" />
		<collection property="classsesList" ofType="com.alibaba.fastjson.JSONObject">
			<id column="goodsClassId" property="goodsClassId" />
			<result column="className" property="className" />
			<result column="classImgUrl" property="classImgUrl" />
		</collection>
	</resultMap>
	<select id="listIndexAll" resultMap="orderMap">
		SELECT
	c.id,
	g.class_name className,
	c.goods_class_id goodsClassId,
	g.class_img_url classImgUrl,
	(
	SELECT
		c2.class_name 
	FROM
		goods_class c1
		INNER JOIN goods_class c2 ON c1.parent_id = c2.id 
	WHERE
		c1.id = g.parent_id 
	) name,
	(
	SELECT
		c2.id 
	FROM
		goods_class c1
		INNER JOIN goods_class c2 ON c1.parent_id = c2.id 
	WHERE
		c1.id = g.parent_id 
	) classId 
FROM
	index_config c
	INNER JOIN goods_class g ON c.goods_class_id = g.id
	where c.app_id=#{appId}
	</select>
	<select id="listIndexCheck" resultType="string">
		SELECT
	c.goods_class_id goodsClassId
FROM
	index_config c
	INNER JOIN goods_class g ON c.goods_class_id = g.id
	where c.app_id=#{appId}
	</select>
	 	<insert id="addIndexClass" >
    			insert into index_config
    			(goods_class_id,app_id,type)
    			values
    			<foreach collection="list" item="item" index="index" separator=",">
    				(
    					#{item},
    					#{appId},
    					'classes'
   
    				)
    		     </foreach>		
    </insert> 
    <delete id="deleteByAppId">
    	delete from index_config where app_id=#{appId} and type='classes'
    </delete> 
    <select id="countBanner" resultType="Integer" parameterType="com.alibaba.fastjson.JSONObject">
        SELECT count(0)
        FROM index_config 
        WHERE app_id=#{appId} and type='banner'
    </select>
     <select id="listBanner" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            w.id                                      id,
            w.img_url                                 imgUrl
        FROM index_config w
        WHERE w.app_id=#{appId} and w.type='banner'
        ORDER BY w.id DESC
        LIMIT #{offSet}, #{pageRow}
    </select>
</mapper>