<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.LoginDao">

    <select id="getUser" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            u.id         userId,
            u.username   username,
            u.password   password,
            u.nickname   nickName,
            u.app_id     appId,
            u.open_id    openId,
            u.store_id   storeId,
            u.avatar_url avatarUrl
        FROM
            sys_user u
        WHERE u.username = #{username}
        <if test="password !=null and password !='' ">
            AND u.password = #{password}
        </if>
          AND u.delete_status = '1'
    </select>
    <select id="getExitsUser" resultType="integer">
        select count(id) FROM
            sys_user  where username = #{username}
    </select>
</mapper>