<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.OrderDao">
	<insert id="insertOrderBatch" parameterType="java.util.List" useGeneratedKeys="false">
    			insert into shop_order
    			(order_id,user_id,total_pay,discount_pay,practice_pay,state)
    			values
    			<foreach collection="list" item="item" index="index" separator=",">
    				(
    					#{item.orderId},
    					#{item.userId},
    					#{item.totalPay},
    					#{item.discountPay},
    					#{item.practicePay},
    					#{item.state}
    				)
    		     </foreach>		
    </insert>    
    <insert id="insertOrder" parameterType="com.alibaba.fastjson.JSONObject" >
    			insert into shop_order
    			(order_id,user_id,total_pay,discount_pay,practice_pay,state)
    			values
    				(
    					#{item.order_id},
    					#{item.user_id},
    					#{item.total_pay},
    					#{item.discount_pay},
    					#{item.practice_pay},
    					#{item.state}
    				)	
    </insert>

	<resultMap id="orderMap"
			   type="com.heeexy.example.entity.OrderInfo">
		<id column="orderId" property="orderId" />
		<result column="storeName" property="storeName" />
		<result column="storeId" property="storeId" />
		<result column="totalPay" property="totalPay" />
		<result column="discountPay" property="discountPay" />
		<result column="practicePay" property="practicePay" />
		<collection property="goodsList" ofType="com.alibaba.fastjson.JSONObject">
			<id column="goodsId" property="goodsId" />
			<result column="goodsName" property="goodsName" />
			<result column="count" property="count" />
			<result column="price" property="price" />
			<result column="orderPrice" property="orderPrice" />
			<result column="state" property="state" />
		</collection>
	</resultMap>
	<select id="getAllInfoOrderByOrderIds" resultMap="orderMap">
		SELECT
		o.order_id  orderId,
		o.total_pay totalPay,
		o.discount_pay discountPay,
		o.practice_pay practicePay,
		s.store_name storeName,
		s.id storeId,
		g.goods_name goodsName,
		g.price price,
		o_goods.price orderPrice,
		g.banner_url  bannerUrl,
		o_goods.count count,
		g.state state
		FROM
		shop_order o
		INNER JOIN order_goods o_goods ON o.order_id = o_goods.order_id
		INNER JOIN goods g ON o_goods.goods_id = g.id
		INNER JOIN store s ON g.store_id = s.id
	where order_id in
	<foreach collection="array" item="id" index="index" open="(" close=")" separator=",">
		#{id}
	</foreach>
	</select>
	<update id="updateOrderState">
	   update shop_order set state=#{state},out_trade_no=#{out_trade_no} where order_id in
	   <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
		#{id}
	</foreach>
	</update>
	<update id="updateByOutTradeNo">
	   update shop_order set state=#{state} where out_trade_no =#{out_trade_no}
	 
	</update>
</mapper>